{{define "body"}}

<!-- Forms -->
<form action="/save" method="POST">
	<fieldset>
		<legend>Add New Member</legend>
		<div class="form-group">
			<label for="name">Member Name</label>
			<input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter Member Name">
			<small id="nameHelp" class="form-text text-muted">Name should <i>NOT</i> contain Numeric values.</small>
		</div>
		<div class="form-group">
			<label for="offering">Offering offered</label>
			<input type="number" class="form-control" id="offering" name="offering" placeholder="Enter offering">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</fieldset>
</form>
{{end}}
