{{define "body"}}
<h5>Members and offerings List</h5>
<br>
<br>
<!-- Tables -->
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Type</th>
			<th scope="col">Index</th>
			<th scope="col">Member's Name</th>
			<th scope="col">Offerings</th>
		</tr>
	</thead>
	<tbody>
		{{range $key,$value := . }}
		<tr class="table-primary">
			<th scope="row">Member</th>
			<td>{{ $key }}</td>
			<td>
				<a href="/{{$value.Id}}"  class="text-decoration-none"><span class="text-white">{{$value.Name}}</span></a>
			</td>
			<td>{{$value.Total}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}
